
span{
    font-size: 1.5em;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    position: relative;
    width: auto;
}

.input__field{
    padding: 0.25em;
    font-size: 1.5em;
    background: transparent;
    border: none;
    border-bottom: solid 4px #5c88da ;
    margin: 1em 0;
    width: 90vw;
    transition: border-bottom 0.15s ease-in-out;
}
.input__field:focus, .input__field:focus-visible{
    border: none;
    border-bottom: solid 4px #2d61c2 ;
    outline: none;
}
.input__field:focus + .input__label, .input__field:not(:placeholder-shown)+ .input__label{
    transform: translate(-1em, -150%) scale(0.8);
}

.input__label{
    position: absolute;
    left: 0;
    top: 50%;
    font-weight: bold;
    margin: 0 1em;
    background: transparent;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out;
}


@media (min-width: 576px) {
    .input__field{
        width: 33vw;
    }
}
