
.response{
    display: none;
}


.responseBtn{
    width: 100%;
    text-align: center;
}

.responseContainer{
    display: flex;
    flex-direction: column;
}
.responseContainer a{
    color: #5c88da;
    width: 100%;
    margin: 1em auto;
    text-align: center;
    font-size: 1.5em;
}

.responseTitle{
    width: 100%;
    margin: auto;
    text-align: center;
}