
.response{
    display: none;
}


.responseBtn{
    width: 100%;
    text-align: center;
}

.responseContainer{
    display: flex;
    flex-direction: column;
}
.responseContainer a{
    color: #5c88da;
    width: 100%;
    margin: 1em auto;
    text-align: center;
    font-size: 1.5em;
}

.responseTitle{
    width: 100%;
    margin: auto;
    text-align: center;
}

.loading{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #5c88da;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}